<h1>Listing customer_users</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer_users.each do |customer_user| %>
  <tr>
    <td><%= customer_user.name %></td>
    <td><%= link_to 'Show', customer_user %></td>
    <td><%= link_to 'Edit', edit_customer_user_path(customer_user) %></td>
    <td><%= link_to 'Destroy', customer_user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_customer_user_path %>
